@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}





header{
    display: flex;
    flex-direction: row;
    min-height: 10vh;
    align-items: center;
}
header .hamburger{
    margin: 20px;
}
header .hamburger > i{
    font-size: 1.2rem;
}
header .logo{
    width: 100px;
    height: auto;
    margin: 0px 155px 0px 0px;
}
header .logo > img{
    width: 100%;
    height: 100%;
}
header .search-box form > .search{
    width: 80%;
}
header .search-box{
    width: 55%;
}
header .search-box form > .submit{
    padding: 10px 20px;
    outline: none;
    border: none;
    margin: 0px 15px 0px 0px;
}
header .user-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
}
header .user-area .apps{
    margin: 0px 30px 0px 30px;
}
header .user-area .apps i{
    font-size: 1.2rem;
}
header .user-area .settings{
    margin: 0px 40px 0px 0px;
}
header .user-area .user-signin{
    border: 1px solid rgb(0, 162, 255);
    padding: 10px 15px;
    text-transform: uppercase;
}

section .content .video .channel .profile-pic{
    border-radius: 50%;
    width: 40px;
    margin: 10px 15px 0px 0px;
}
section .content .video .channel .profile-pic img{
    border-radius: 50%;
    width: 100%;
}
section .content .video .channel{
    display: flex;
    flex-direction: row;
    align-items: center;
}
section .video{
    width: 260px;
}
section .content .video .channel-title{
    margin: 5px 0px 0px 45px;
}
section .content .video .video-info{
    display: flex;
    margin: 0px 0px 0px 45px;
}
section{
    display: flex;
    flex-direction: row;
}
section .sidebar{
    width: 18%;
    overflow-y: scroll;
}
section .content{
    width: 80%;
}
section .sidebar div{
    width: 100%;
    padding: 20px;
}
section .content{
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
    flex-wrap: wrap;
}